<!DOCTYPE html>
<html lang="en">

<head>
	<%- include ('./partials/head.ejs') %>
</head>

<body>
	<h1>Mongoose Naturals</h1>

	<div id="button">
		<a href="/views/new.ejs" class="btn btn-primary">Add New</a>
	</div>
	<table>
		<div id="sProduct">
			<ul>
				<% products.forEach(product => { %>
					<li id="product">
						
						
	<div class="card">
		<h3><a href="/products/<%= product.id %>"><%= product.name %> </a></h3>
		<img src= "<%= product.img %>" alt="<%= product.name %>"> 
		<p class="$<%= product.price %>"></p>
		<p><%= product.description %></p>
		<p>$ <%= product.price  %> </p>
		<p>In Stock: <%= product.qty %> </p>
		<!-- <p><button>Add to Cart</button></p> -->
		<br />
		<form action="/products/<%=product.id %>?_method=DELETE"
			method="POST">
			<input type="submit" value="DELETE" />
		</form>
		<form action="/products/"<%=product.id %>?_method=EDIT" method="POST"><input type="submit" value="EDIT" /> 
		</form>
	</div>

						<!-- <a href="/products/<%=product._id %>/edit">Edit</a> -->
					
					</li>
					<% }) %>
				</tbody>
				</ul>
			</div>
	</table>
</body>

