<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <a href="/products">Back to Products Index</a>
    </nav>
    <div class="card">
		<h3><a href="/products/<%= product.id %>"><%= product.name %> </a></h3>
		<img src= "<%= product.img %>" alt="<%= product.name %>"> 
		<p class="$<%= product.price %>"></p>
		<p><%= product.description %></p>
		<p>$ <%= product.price  %> </p>
		<p>In Stock: <%= product.qty %> </p>
		<p><button>Add to Cart</button></p>
	  </div>
    
</body>
</html>